<p id="notice"><%= notice %></p>

<h1>Pedidos</h1>

<table class="table table-hover">
  <thead>
  <tr>
    <th>TipoPedido</th>
    <th>Fecha</th>
    <th>Empleado</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <%= pedido.each do |pedido| %>
      <tr>
        <td><%= pedido.tipopedido %></td>
        <td><%= pedido.fecha %></td>
        <td><%= pedido.empleado_id %></td>
        <td>
          <div> <%= link_to 'Mostrar', pedido, :class => "button" %> </div>
        </td>
        <td>
          <div> <%= link_to 'Editar', edit_pedido_path(pedido), :class => "button" %> </div>
        </td>
        <td>
          <div> <%= link_to 'Destruir', pedido, method: :delete, data: {confirm: 'Estas seguro?' }, class: => "button" %> </div>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
<div>
  <%= link_to 'Nuevo Pedido', new_pedido_path, :class => "button" %>
</div>