<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @insumo.nombre %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @insumo.cantidad %>
</p>

<%= link_to 'Editar', edit_insumo_path(@insumo) %> |
<%= link_to 'Volver', insumos_path %>