<%= form_for(proveedor_insumo) do |f| %>
  <% if proveedor_insumo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(proveedor_insumo.errors.count, "error") %> prohibited this proveedor_insumo from being saved:</h2>

      <ul>
      <% proveedor_insumo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :precio %>
    <%= f.number_field :precio %>
  </div> %>
  </div>

  <div class="field">
    <%= f.label :proveedor_id %>
    <%= f.text_field :proveedor_id %>
  </div>

  <div class="field">
    <%= f.label :insumo_id %>
    <%= f.text_field :insumo_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>