<p id="notice"><%= notice %></p>

<p>
  <strong>Cantidadusada:</strong>
  <%= @insumo_plato.cantidadusada %>
</p>

<p>
  <strong>Unidadmedida:</strong>
  <%= @insumo_plato.unidadmedida %>
</p>

<p>
  <strong>Insumo:</strong>
  <%= @insumo_plato.insumo_id %>
</p>

<p>
  <strong>Plato:</strong>
  <%= @insumo_plato.plato_id %>
</p>

<%= link_to 'Editar', edit_insumo_plato_path(@insumo_plato) %>
<%= link_to 'Volver', insumo_plato_path %>