<p id="notice"><%= notice %></p>

<p>
  <strong>Rut:</strong>
  <%= @empleado.rut %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @empleado.nombre %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @empleado.telefono %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @empleado.direccion %>
</p>

<p>
  <strong>Cargo:</strong>
  <%= @empleado.cargo %>
</p>

<p>
  <strong>Turno:</strong>
  <%= @empleado.turno %>
</p>

<%= link_to 'Editar', edit_empleado_path(@empleado) %>
<%= link_to 'Volver', empleados_path %>